/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.light-grey{
    background-color: #f8f9fa;
}
.spacing{
    padding: 10px 0;
}

.ultimate-spacing{
    padding: 6px 0;
}

span.green{
    background-color: #198754;
}

span.yellow{
    background-color: #ffc107;
}

span.red{
    background-color: #dc3545;
}


/* HEADER */
header{
    width: 100%;
    height: 70px;
    background-color: #f8f9fa;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

header img{
    padding-top: 7px;
}

#search{
    background-color: rgb(234, 234, 234);
    margin-top: 2px;
}

.nav-list{
    padding: 0;
}

.bell-notification{
    padding-top: 10px;
}


/* MAIN */
main{
    background-color: #f8f9fa;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

aside{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside ul{
    list-style: none;
}

aside a{
    text-decoration: none;
    color: white;
}

aside ul li{
    line-height: 30px;
}

aside i{
    vertical-align: middle;
}

aside span{
    vertical-align: middle;
}

main section{
    width: calc(100% - 200px);
    height: 100%;
}

#blue-section{
    background-color: #1b72e8;
    height: 15%;
    width: 100%;
}

#blue-section.boolean{
    line-height: 70px;
}

#blue-section h2{
    display: inline-block;
    vertical-align: middle;
}

#label{
    background-color: #165bba;
    font-size: 0.9em;
}

#badge-group, 
#number-students{
    line-height: 25px;
}

#badge-group i{
    vertical-align: middle;
}

#badge-group span{
    vertical-align: middle;
}

span.bigger{
    font-size: 2em;
}

#blue-section .special-span{
    vertical-align: middle;
}

#dashboard{
    background-color: white;
}

.class-list{
    line-height: 30px;
    padding: 10px 0;
}

.class-list img{
    width: 7%;
    height: auto;
    padding-right: 5px;
    background-color: white;
    vertical-align: middle;
}

.class-list span{
    vertical-align: middle;
}

.initial-date,
.roi,
.status,
.action{
    line-height: 30px;
}


#faq span{
    display: block;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

#faq span:last-of-type{

    border-bottom: none;
}

#statistiche img{
    width: 100%;
    height: auto;
}


/* MEDIA QUERY */
@media all and (max-width: 992px){

    aside{
        width: 100px;
    }

    main section{
        width: calc(100% - 100px);
    }
}

